---
- name: Install xterm-ghostty terminfo
  copy:
    src: xterm-ghostty.terminfo
    dest: /tmp/xterm-ghostty.terminfo
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Check if xterm-ghostty terminfo is already installed
  shell: infocmp xterm-ghostty
  register: terminfo_check
  failed_when: false
  changed_when: false

- name: Compile xterm-ghostty terminfo
  command: tic /tmp/xterm-ghostty.terminfo
  become: yes
  when: terminfo_check.rc != 0
