---
- name: Install xterm-ghostty terminfo
  copy:
    src: xterm-ghostty.terminfo
    dest: /tmp/xterm-ghostty.terminfo
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Compile xterm-ghostty terminfo
  command: tic /tmp/xterm-ghostty.terminfo
  args:
    creates: ~/.terminfo/x/xterm-ghostty
  become: yes
