---
- name: "Copy BashRC"
  copy:
    src: "{{ role_path }}/files/.bashrc"
    dest: "{{ ansible_env.HOME }}"

- name: "Ensure .bash_profile sources .bashrc inside tmux"
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bash_profile"
    line: |
      if [[ -n "$TMUX" ]]; then
          source ~/.bashrc
      fi
    insertafter: EOF
    create: yes

- name: "Check if MATE terminal is available"
  shell: command -v mate-terminal
  register: mate_terminal_check
  failed_when: false
  changed_when: false

- name: "Configure MATE Terminal"
  block:
    - name: "Read current mate terminal profiles"
      dconf:
        key: "/org/mate/terminal/global/profile-list"
        state: "read"
      register: "profile_list"
      failed_when: false

    - name: "profile_list was not set, setting"
      set_fact:
        profile_list: 
          value: '["default"]'
      when: profile_list.value is not defined or profile_list.value is none

    - name: "Adding our profile"
      set_fact:
        new_profile_list: "{{ profile_list.value | regex_replace(']$', \", 'video']\") }}"
      when: profile_list.value is defined

    - name: "Writing updated profile list"
      dconf:
        key: "/org/mate/terminal/global/profile-list"
        value: "{{ new_profile_list }}"
      when: profile_list.value is defined and "'video' not in profile_list.value"
      
    - name: "Restoring Video Profile from Dump"
      shell:
        cmd: "dconf load /org/mate/terminal/profiles/video/ < {{ role_path }}/files/dconf-dump-video"
      when: profile_list.value is defined and "'video' not in profile_list.value"
  when: mate_terminal_check.rc == 0

